/* NY SEKTION  */
.pandasvanner .wrapper {
  align-items: center;

  padding: 3rem;
  position: relative;
}
.pandasvanner {
  padding: 10rem 1rem 8rem;
  background-color: var(--white-fade);
}
.pandasvanner .panda1 {
  position: absolute;
  right: 0;
  bottom: 0.2rem;
  width: 10rem;
}
.pandasvanner .panda2 {
  position: absolute;
  left: 0;
  top: -8.43rem;
  width: 13rem;
}
@media screen and (max-width: 1080px) {
  .pandasvanner .wrapper {
    padding-bottom: 8rem;
  }
}
